.main{
display: flex;
flex-direction:row;
padding-top: 7.5rem;
align-items: center;
justify-content: center;
}
.mainTxt{
font-weight: 700;
font-size:3rem;
font-family: 'Roboto Mono', monospace;
}

.mainTxt1{
font-weight: 500;
font-size:1.5rem;
font-family: 'Roboto Mono', monospace;
}

.mainBg img{
padding: 0;
max-height:31.25rem;
}