.containerBt{
margin-top: 5rem;
display: flex;
align-items: center;
justify-content: center;
}

.containerBt button{
height:2rem;
width:2.5rem ;
}

.containerBt span{
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.stock{
margin-left:46%;
margin-right:46%;
}

.btnAdd{
margin-top: 1rem;
margin-left:47%;
height:2rem;
width:5rem ;
}