.contStock{
display: flex;
align-items: center;
justify-content: center;   
flex-direction: column;
}

.containerBt{
display: flex;
align-items: center;
justify-content: center;
}

.containerBt button{
height:2rem;
width:2.5rem ;
}

.containerBt span{
padding-left: 1.5rem;
padding-right: 1.5rem;
}

/*.stock{

}*/

.btnAdd{
height:2.5rem;
width:7rem ;
display: inline-block;
border-radius: 4px;
background-color: #358483;
color: aliceblue;
border: none;
text-align: center;
font-size: 1rem;
padding: .7rem;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

