.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.activeModal{
display: flex;
}

.modalContainer{
    position: relative;
    padding: 1rem;
    background-color: white;
    min-width:40%;
    max-width:60%;
    max-height: 31.25rem;
    overflow-y: auto;
}

.modalClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
}